.companies {
}

.company-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 5rem 0;
}

.company-list__table-container {
  display: block;
  overflow-x: auto;
  width: 100%;
}

.company-list__table {
  min-width: 650px;
  border-collapse: collapse;
}

.table-cell {
  width: 15rem;
  height: 3rem;
  text-align: center;
  border-bottom: 1px solid #eee;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
}

.table-cell > span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.company-filters {
  padding: 0 10rem 0 10rem;
  width: 100%;
}

.company-addition {
  width: 100vw;
}

.company-addition__form {
  padding: 0 35rem 0 35rem;
  width: 100%;
  overflow-y: auto !important;
}

.stud-reg__radio {
  font-weight: 700 !important;
  font-size: 1.2rem !important;
}

.field.stud-reg__radio input {
  height: 5rem !important;
  width: 5rem !important;
}

.company-filters__svg {
  height: 13rem;
}

.company-filters__svg-container {
  height: 15rem;
  display: flex;
  justify-content: center;
}

.stud-reg__input > label,
.stud-reg__select > label {
  font-size: 1.2rem !important;
  height: 2rem;
  color: var(--color-coe-secondary) !important;
}

.stud-reg__input input {
  height: 3.5rem !important;
  font-size: 1.3rem !important;
  margin-bottom: 1rem !important;
}

.field.stud-reg__select > div {
  min-height: 3.5rem !important;
  margin-bottom: 2rem !important;
}

.field.stud-reg__select * {
  font-size: 1.3rem !important;
}

.company-details {
  height: 100vh;
  width: 100%;
}

.company-addition {
  position: relative;
  margin-top: -2rem;
}

.company-addition .button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0 0 0;
}

.company-addition .nav-buttons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px;
  border-color: teal;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms ease-in;
  background: white;
}

.company-addition .forward {
  width: 80px;
  justify-content: flex-end;
  display: flex;
}

.company-addition .backwards {
  width: 80px;
}

.company-addition .nav-buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 1rem 0;
  align-items: center;
}

.company-addition .nav-buttons-container span {
  display: inline-block;
  font-weight: 600;
  font-size: 1.5rem;
  color: teal;
}

.company-addition .forward-button:hover,
.company-addition .backward-button:hover {
  opacity: 1;
  transform: scale(1.2);
}

.company__map {
  width: 100vw;
  height: 100vh;
  padding: 0 5rem 0 5rem;
}
/*BIG DESKTOP*/
@media (max-width: 112.5em) {
}

/*TAB LANDSCAPE*/
@media (max-width: 75em) {
}
/*TAB PORTRAIT*/
@media (max-width: 56.25em) {
  .stud-reg__input > label,
  .stud-reg__select > label {
    font-size: 1.5rem !important;
    height: 3rem;
    color: var(--color-coe-secondary) !important;
  }

  .stud-reg__input input {
    height: 5rem !important;
    font-size: 1.6rem !important;
    margin-bottom: 1rem !important;
  }

  .field.stud-reg__select > div {
    height: 5rem !important;
    margin-bottom: 2rem !important;
  }

  .field.stud-reg__select * {
    font-size: 1.7rem !important;
  }

  .details-box__body {
    padding: 3rem 5rem 3rem 5rem;
    width: 100%;
  }

  .details-box .details-box__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;
  }

  .company-addition__form {
    padding: 0 15rem 0 15rem;
    width: 100%;
    overflow-y: auto !important;
  }
}

/*PHONE*/
@media (max-width: 37.5em) {
  .company-list {
    padding-bottom: 9rem;
  }

  .company-details {
    margin: -0.5rem 0 0 0;
  }

  .details-box__body {
    padding: 3rem 0 3rem 0;
    width: 100%;
  }

  .details-box .info-box .icon-container {
    width: 6rem;
    height: 6rem;
  }

  .details-box .info-box .text {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 2rem 0 2rem;
    text-align: center;
  }

  .company-addition__form {
    padding: 0 5rem 0 5rem;
    width: 100%;
    overflow-y: auto !important;
  }

  .stud-reg__input.file-input > label {
    height: 5rem;
  }
}

/*EXTRA PHONE OPTIMIZATION*/
@media (max-width: 25em) {
  .details-box__body {
    padding: 2rem 0 2rem 0;
    width: 100%;
  }

  .details-box .details-box__footer {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    padding: 0 0 0 0;
  }

  .company-addition__form {
    padding: 0 2rem 0 2rem;
    width: 100%;
    overflow-y: auto !important;
  }

  .company-addition .forward-button {
    right: 1rem;
  }

  .company-addition .backward-button {
    left: 1rem;
  }
}
