.button-bar {
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*BIG DESKTOP*/
@media (max-width: 112.5em) {
}

/*TAB LANDSCAPE*/
@media (max-width: 75em) {
}
/*TAB PORTRAIT*/
@media (max-width: 56.25em) {
}

/*PHONE*/
@media (max-width: 37.5em) {
}

/*EXTRA PHONE OPTIMIZATION*/
@media (max-width: 25em) {
}
