.main-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}
.main-container .main-child {
  overflow: hidden;
  flex: 1;
  position: relative;
}
