#introductory .introductory {
  padding: 5rem 0 5rem 0;
}

#introductory .introductory__download-btn {
  padding: -12rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#introductory .btn {
  display: block;
  margin-top: -25px;
  margin: 0 auto;
}

#introductory {
  margin-left: auto;
  margin-right: auto;
  height: 980px;
  width: 595px;
}

#introductory .letter-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

#introductory .coe-heading {
  color: red;
  text-align: center;
  margin-top: 40px;
}

#introductory .coe-heading__text {
  text-align: center;
  display: inline-block;
}

#introductory p.letter-intro__header {
  border-bottom: 1px solid black;
  display: inline-block;
  text-align: center;
}

#introductory h3 {
  font-weight: bold;
}

#introductory h4 {
  color: black;
}

#introductory h5 {
  color: red;
  font-weight: bold;
  text-align: center;
}

#introductory .provost__office {
  display: flex;
}

#introductory .knust-heading {
  text-align: center;
}

#introductory .knust-logo {
  width: 60px;
  height: 80px;
  float: left;
  /* margin-left:130px; */
  /* margin-top:20px; */
}

#introductory .coe-logo {
  width: 60px;
  height: 80px;
  float: right;
  /* margin-left:130px; */
  /* margin-top:20px; */
}

#introductory .knust-in-full {
  color: black;
  font-weight: bold;
  text-align: center;
}

#introductory hr {
  border: 0;
  border-top: 2px solid red;
  /* margin-top: -20px; */
}

#introductory hr.address__hr {
  margin: 3px 0 3px 0;
}

#introductory .our-reference p {
  float: left;
  margin-top: -20px;
}
#introductory .letter-date p {
  float: right;
  margin-top: -20px;
}
#introductory .letter-intro p {
  text-align: center;
}

#introductory .letter-content {
  text-align: justify;
  font-family: 'Times New Roman';
}

#introductory .closing-sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#introductory .closing-coordinator {
  font-family: 'Times New Roman';
}
#introductory .closing-provost {
  font-family: 'Times New Roman';
}

#introductory .closing-provost .closing-provost img {
  width: 25px;
  height: 25px;
}

#introductory .letter-footer {
  /* margin-top: -20px; */

  font-size: 10px;
  color: green;
  text-align: center;
}

#introductory .energy-centres {
  text-align: center;
}

#introductory .margin-bottom-tiny {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

/* .shift-down-one-break-for-firefox{ */
/*     padding-bottom:0.3px; */

/* } */
@-moz-document url-prefix() {
  .shift-down-one-break-for-firefox {
    padding-bottom: 15px;
  }
  #introductory {
    padding-left: 20px;
  }
}
