#request-letter .btn {
  display: block;
  margin-top: -25px;
  margin: 0 auto;
}

#request-letter .empty-letter-head {
  height: 40rem;
}

#request-letter .empty-senders-address {
  height: 30rem;
}

#request-letter {
  margin-left: auto;
  margin-right: auto;
  height: 980px;
  width: 595px;
}

#request-letter .coe-heading {
  color: red;
  text-align: center;
  margin-top: 40px;
}

#request-letter .coe-heading__text {
  text-align: center;
  display: inline-block;
}

#request-letter p.letter-intro__header {
  border-bottom: 1px solid black;
  display: inline-block;
  text-align: center;
}

#request-letter h3 {
  font-weight: bold;
}

#request-letter h4 {
  color: black;
}

#request-letter h5 {
  color: red;
  font-weight: bold;
  text-align: center;
}

#request-letter .provost__office {
  display: flex;
}

#request-letter .knust-heading {
  text-align: center;
}

#request-letter .knust-logo {
  width: 60px;
  height: 80px;
  float: left;
  /* margin-left:130px; */
  /* margin-top:20px; */
}

#request-letter .coe-logo {
  width: 60px;
  height: 80px;
  float: right;
  /* margin-left:130px; */
  /* margin-top:20px; */
}

#request-letter .knust-in-full {
  color: black;
  font-weight: bold;
  text-align: center;
}

#request-letter hr {
  border: 0;
  border-top: 2px solid red;
  /* margin-top: -20px; */
}

#request-letter hr.address__hr {
  margin: 3px 0 3px 0;
}

#request-letter .our-reference p {
  float: left;
  margin-top: -20px;
}

#request-letter .letter-date p {
  float: right;
  margin-top: -20px;
}

#request-letter .letter-intro p {
  text-align: center;
}

#request-letter .letter-content {
  text-align: justify;
  font-family: 'Times New Roman';
}

#request-letter address.return-address {
  width: 300px;
}

#request-letter .closing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#request-letter .closing-coordinator {
  font-family: 'Times New Roman';
}
#request-letter .closing-provost {
  font-family: 'Times New Roman';
}

#request-letter .closing-provost .closing-provost img {
  width: 25px;
  height: 25px;
}

#request-letter .letter-footer {
  /* margin-top: -20px; */

  font-size: 10px;
  color: green;
  text-align: center;
}
#request-letter .energy-centres {
  text-align: center;
}

/* .shift-down-one-break-for-firefox{ */
/*     padding-bottom:0.3px; */

/* } */
@-moz-document url-prefix() {
  #request-letter .shift-down-one-break-for-firefox {
    padding-bottom: 15px;
  }
  #request-letter {
    padding-left: 20px;
  }
}
