.landing {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      var(--color-transluscent),
      var(--color-transluscent)
    ),
    url(../../_shared/assets/images/home.jpg);
}

.landing__body {
}

.landing__navigation {
  height: 10vh;
  padding: 2rem 2rem 0 2rem;
}

.landing__body-image {
  height: 32rem;
}

.landing__logo {
  height: 7rem;
}

.landing__body--main {
}

.landing__image-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__body-buttons-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: #ffd25a;
}

.landing__text-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 4rem 0 4rem;
}
.landing__body--main > span {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
}

.landing__body--sub {
  padding: 2rem 0 0 0;
}

.landing__body--sub > span {
  color: #fff;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.landing__body-buttons {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0 0 0;
  width: 100%;
}

/*BIG DESKTOP*/
@media (max-width: 112.5em) {
}

/*TAB LANDSCAPE*/
@media (max-width: 75em) {
}
/*TAB PORTRAIT*/
@media (max-width: 56.25em) {
}

/*PHONE*/
@media (max-width: 37.5em) {
  .landing {
    height: 100vh;
  }

  .landing__logo {
    height: 3.5rem;
  }

  .landing__body-buttons {
    padding: 2rem 0 0 0;
  }

  .landing__navigation {
    height: 10rem;
    padding: 1.5rem 4rem 0 4rem;
  }

  .landing__image-container {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem 0 0 0;
  }

  .landing__text-container {
    height: 30rem;
    padding: 2rem 5rem 0 5rem;
  }

  .landing__body-image {
    height: 25rem;
  }

  .landing__body--sub > span {
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

/*EXTRA PHONE OPTIMIZATION*/
@media (max-width: 25em) {
  .landing__body--main > span {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    line-height: 3.5rem;
  }

  .landing__body--sub {
    padding: 2rem 0 0 0;
  }

  .landing__body--sub > span {
    color: #fff;
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .landing__body-buttons {
    padding: 5rem 0 0 0;
  }

  .landing__text-container {
    padding: 2rem 2rem 0 2rem;
  }

  .landing__body-image {
    height: 25rem;
  }

  .landing__navigation {
    padding: 1.5rem 1rem 0 1rem;
  }
}
