.stud-reg {
  padding: -2rem 8rem 0 8rem;
}

.company-form {
  position: relative;
}

.stud-reg__forms-modified {
  padding: 3rem 25rem 5rem 25rem;
}

.loc-info {
  position: absolute;
  padding: 2rem 0 0 0;
}

.loc-select {
  position: relative;
}

.per-info > span {
  display: inline-block;
}

.company-form .stud-reg__input > label,
.stud-reg__select > label {
  font-size: 1.2rem !important;
  height: 3rem;
  color: var(--color-coe-secondary) !important;
}

.company-form .stud-reg__input input {
  height: 3.5rem !important;
  font-size: 1.3rem !important;
  margin-bottom: 1rem !important;
}

.company-form .field.stud-reg__select > div {
  min-height: 3.5rem !important;
  margin-bottom: 2rem !important;
}

.company-form .field.stud-reg__select * {
  font-size: 1.3rem !important;
}

.company-form .stud-reg__buttons {
  width: 10rem !important;
  height: 3.5rem !important;
}

.company-form .stud-reg__buttons > * {
  font-size: 1.2rem !important;
}

.company-form__btns {
  padding: 4rem 0 0 0;
  display: flex;
  justify-content: space-between;
}

.supervisor__container {
  padding: 2rem 0 1rem 0;
}

/*BIG DESKTOP*/
@media (max-width: 112.5em) {
}

/*TAB LANDSCAPE*/
@media (max-width: 75em) {
}
/*TAB PORTRAIT*/
@media (max-width: 56.25em) {
  .company-form .stud-reg__forms-modified {
    padding: 5rem 10rem 5rem 10rem !important;
  }

  .company-form .stud-reg__input > label,
  .stud-reg__select > label {
    font-size: 1.5rem !important;
    height: 4rem;
    color: var(--color-coe-secondary) !important;
  }

  .company-form .stud-reg__input input {
    height: 6rem !important;
    font-size: 1.7rem !important;
    margin-bottom: 1rem !important;
  }

  .company-form .field.stud-reg__select > div {
    height: 6rem !important;
    margin-bottom: 2rem !important;
  }

  .company-form .field.stud-reg__select * {
    font-size: 1.7rem !important;
  }

  .company-form .stud-reg {
    padding: -1rem 8rem 0 8rem;
  }
}

/*PHONE*/
@media (max-width: 37.5em) {
  .company-form .stud-reg__forms-modified {
    padding: 4rem 4rem 5rem 4rem !important;
  }

  .company-form .stud-reg__buttons {
    width: 14rem !important;
    height: 5rem !important;
  }

  .company-form .stud-reg__buttons > * {
    font-size: 1.4rem !important;
  }
}

/*EXTRA PHONE OPTIMIZATION*/
@media (max-width: 25em) {
  .company-form .stud-reg__forms-modified {
    padding: 6rem 3rem 5rem 3rem !important;
  }
}
