.placement {
  padding: 5rem 0 0 0;
}

.placement__map {
  width: 100%;
}

.placement__info {
  width: 100%;
  z-index: -1;
}

.placement .row {
  max-width: inherit;
}

.placement-done > .row > .col-1-of-2 {
  margin-right: 0;
  width: calc((100%) / 2);
}

.placement__intro {
}

.placement__info-buttons {
  padding: 3rem 0 0 0;
  display: flex;
  flex-direction: row;
}

.placement-done {
  /* height: calc(100vh - var(--toolbar-height-standard)); */
  position: relative;
}

.placement-details {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--toolbar-height-standard));
}

.placement-details__container {
  height: 100%;
  padding: 0.5rem 3rem 0 3rem;
  position: relative;
  width: 100%;
}

.placement-details__svg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.placement-details__svg {
  height: 3rem;
  width: 3rem;
}

.placement-details__box {
  padding: 2rem 2rem 2rem 2rem;
  margin: 2rem 2rem 2rem 2rem;
  height: 90%;
  width: 90%;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 5rem rgba(0, 0, 0, 0.15);
}

.placement-details__header {
  display: flex;
  align-items: center;
  padding: 1rem 0 0 0;
}

.placement-details__header > span {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
.placement-details__company {
}

.placement-details__company-item {
  display: flex;
  padding: 1rem 0 1rem 0;
  align-items: center;
}

.placement-details__company-text {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-top: -0.5rem;
}

.placement-details__message-container {
  padding: 2rem 0 1rem 0;
}

.placement-details__buttons {
  display: flex;
}

.placement-details__company-item .company__icon {
  width: 1.4rem;
  height: 1.4rem;
}

.placement-details__company-item .company__icon-container {
  width: 4rem;
  height: 4rem;
}

.item__header {
  display: inline-block;
  color: teal;
  font-size: 1.1rem;
  padding: 1rem 0 0 0;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.item__content {
  display: inline-block;
  padding: 0.3rem 0 0 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.placement-details__option-container {
  display: flex;
  justify-content: space-between;
}

.placement-details__option {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
}

.placement-details__dropdown {
  height: 4rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 16rem;
  transition: all 0.2s;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-pointer:hover {
  background-color: #eee !important;
  transform: scale(1.05) !important;
  transition: all 0.2s !important;
}
.placement-details__dropdown * {
  font-size: 1.5rem;
  font-weight: 800;
}

/*BIG DESKTOP*/
@media (max-width: 112.5em) {
}

/*TAB LANDSCAPE*/
@media (max-width: 75em) {
}
/*TAB PORTRAIT*/
@media (max-width: 56.25em) {
  .placement-details__company-item {
    display: flex;
    padding: 1rem 0 1rem 0;
    align-items: center;
  }

  .placement-details__message-container {
    padding: 1.5rem 0 2rem 0;
  }

  .item__header {
    display: inline-block;
    color: teal;
    font-size: 1.4rem;
    padding: 0.5rem 0 0 0;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .item__content {
    display: inline-block;
    padding: 0.2rem 0 0 0;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .placement-details__container {
    height: 100%;
    padding: 1rem 1rem 0 1rem;
    position: relative;
    width: 100%;
  }
}

/*PHONE*/
@media (max-width: 37.5em) {
  .placement-details__company-item {
    display: flex;
    padding: 0.5rem 0 1.5rem 0;
    align-items: center;
  }

  .placement-details__message-container {
    padding: 2rem 0 4rem 0;
  }

  .item__header {
    display: inline-block;
    color: teal;
    font-size: 1.4rem;
    padding: 0.5rem 0 0 0;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .item__content {
    display: inline-block;
    padding: 0.2rem 0 0 0;
    font-size: 1.6rem;
    font-weight: 600;
  }

  .placement-details__container {
    height: 100%;
    padding: 5rem 3rem 5rem 3rem;
    position: relative;
    width: 100%;
  }

  .placement-done {
    height: 100% !important;
    /* height: calc(100vh - var(--toolbar-height-standard)); */
  }

  .placement-details {
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0.5rem 0.5rem 5rem rgba(0, 0, 0, 0.15);
    height: 100% !important;
  }

  .placement-details__company-item .company__icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .placement-details__company-item .company__icon-container {
    width: 6rem;
    height: 6rem;
  }
}

/*EXTRA PHONE OPTIMIZATION*/
@media (max-width: 25em) {
  .placement-details__container {
    height: 100%;
    padding: 5rem 1.5rem 5rem 1.5rem;
    position: relative;
    width: 100%;
  }
}
